.pagination a{
    background: #0f6674;
    color:#ffffff;
    border: 1px solid #0f6674;
    padding:3px 8px 3px 8px;
    font-size:16px;
    font-weight: bold;
}
.pagination a.font-bold {
    background: #ffffff;
    color:#0f6674;
}